span {cursor:pointer; }
.number{
    margin:100px;
}
.minus, .plus{
    width:20px;
    height:20px;
    background:#f2f2f2;
    border-radius:4px;
    padding:20px 5px 20px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.minus:hover, .plus:hover{
    color:red;
}
input {
    height: 34px;
    width: 30px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}